@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
  background: $base-background-color;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 30px;
}

.similar-searches-cities {
  margin: 20px 0 40px 0;
  .similar-searches-title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
  }
}

.holder-similar-searches {
  display: flex;
  .similar-searches-item {
    margin: 20px 15px 0 0;
    transition: all .5s ease;
    &:hover {
      transform: scale(1.2);
    }
  }
  .similar-searches-link {
    font-size: 14px;
    padding: 7px 12px;
    background: $white;
    border-radius: 20px;
    &:hover {
      color: $brand-color;
    }
  }
}

.caption-section {
  > div {
    padding-left: 25px;
    position: relative;
    margin-bottom: 15px;
    font-size: 18px;
    &::before {
      position: absolute;
      content: '';
      width: 14px;
      height: 14px;
      background: $brand-color;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
  p {
    font-weight: 300;
  }
}





/*=================*/
.v-header {
  height: 450px;
  margin-top: 100px;
  background: url("//storage.googleapis.com/bd-ua-01/background_images/1_35.jpg") bottom center fixed no-repeat;
  background-size: cover;
}
/*=================*/

/*MORE INFORMATION PAGE*/

.page-header {
  margin-top: 25px;
}

.section-info {
  margin-top: 40px;
}

.title-header {
  font-size: 24px;
  font-weight: 500;
  color: $blue;
}

.left-section {
  width: 60%;
  padding: 0 15px;
}


.bb {
  position: relative;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
  height: 438px;
  line-height: 438px;
  > div {
    width: 100%;
    height: 100%;
    text-align: center;
    img {

    }
  }
}

.secondary-image {
  background: snow;
}

.preview-image {
  display: inline-block;
  margin: 10px 0 10px 10px;
  width: 125px;
  outline: none;
  img {
    max-height: 93px;
    min-height: 93px;
    display: block;
    margin: 0 auto;
  }
}

.gallery-holder {
  margin-bottom: 20px;
}

/*Right Section Styles*/

.section-info {
  display: flex;
  margin-bottom: 20px;
}

.right-section {
  width: 40%;
  padding: 0 15px;
  box-shadow: 0 0 18px 0 rgba(50, 50, 50, 0.55);
  border-radius: 5px;
  background: snow;
  align-self: flex-start;
}

.builder-icon {
  padding-top: 5px;
  transition: .4s all ease-in-out;
  max-width: 454px;
  max-height: 353px;
  overflow: hidden;
 img {
   border-radius: 5px;
   display: block;
   margin: 0 auto;
 }
  &:hover {
    transform: scale(1.02);
  }
}

.param-building-inner {
  padding: 15px 0 0 0;
}

.title-cell,
.value-cell {
  width: 50%;
  padding: 8px 0 8px 20px;
  text-align: left;
}

/*===============*/
td,
th {
  border: none;
}
/*===============*/

.param-row {
  border-bottom: 1px dashed rgba(99, 27, 53, .2);
  &:last-child {
    border: none;
  }
}

/*Details Build*/

.details-build {
  background: snow;
  padding: 10px;
  box-shadow: 0 0 18px 0 rgba(50, 50, 50, 0.55);
  border-radius: 5px;
  flex-grow: 1;
}

.row-detail {
  display: flex;
  border-bottom: 1px dashed rgba(99, 27, 53, .2);
  font-size: 14px;
  &:last-child {
    border: none;
  }
}

.left-col-detail,
.right-col-detail {
  width: 50%;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  span {
    display: block;
  }
}

.left-col-inner,
.right-col-inner{
  color: #888;
  margin-top: 5px;
}

.location {
  color: $blue;
  &:hover {
    color: $blue;
    text-decoration: underline;
  }
}

.travel-time {
  span {
    display: inline-block;
  }
}
.metro {
  svg {
      margin-bottom: -7px;
  }
}
.distance {
  svg {
    margin-bottom: -4px;
  }
}

/*Section Description*/

.description-section {
  padding: 0 0 0 15px;
  margin-bottom: 20px;
}

.holder-desc {
  background: snow;
  box-shadow: 0 0 18px 0 rgba(50, 50, 50, 0.55);
  border-radius: 5px;
  padding: 20px 15px;
}

.title-desc {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 15px;
}

.description-house {
  p {
    font-size: 15px;
  }
}

.list-flats {
  padding: 0 0 0 15px;
  margin-bottom: 100px;
}

.title-desc {
  margin-bottom: 20px;
}

