.detailed-desc {
  .left-col-detail {
    span {
      font-size: 16px;
      font-weight: 700;
      color: #444;
    }
  }
  .b-gallery {
    margin-bottom: 20px;
  }
  .gallery-holder {
    margin-bottom: 0;
  }
  .holder-desc-inner {
    .title-desc {
      margin-bottom: 0;
    }
  }
}

.optional {
  .right-col {
    > div:first-child {
      margin-bottom: 5px;
    }
  }
}

.download-doc {
  background: $blue;
  padding: 5px 10px;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 3px;
  transition: .2s all;
  &:hover {
    border: 2px solid $blue;
    background: transparent;
    color: $blue;
    border-radius: 3px;
  }
}

/*Styles for map*/
.site-flat {
  width: 100%;
  height: 300px;
}
#map {
  width: 100%;
  height: 100%;
}