.footer {
  background: #ffffff;
  padding: 10px 0;
  border-top: 2px solid $gray;
}

.footer-top {
  display: flex;
  > div + div {
    display: flex;
     > div {
       display: flex;
       flex-direction: column;
       padding-right: 50px;
       font-size: 14px;
     }
    span {
      padding-right: 15px;
      text-transform: uppercase;
      font-weight: 500;
      padding-bottom: 10px;
    }
    a {
      color: #363636;
      padding-bottom: 5px;
      span {
        color: #9e9e9e;
      }
    }
  }
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  span {
    color: #9e9e9e;
    font-size: 12px;
    a {
      color: #9e9e9e;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
