.btn-new {
  @include animate(background);
  background: $btn-new-background;
  color: $btn-new-color;
  border: $btn-new-border;
  padding: $btn-new-padding;
  font-size: $btn-new-font-size;
  line-height: $btn-new-line-height;

  &:hover {
    background: $btn-new-hover-background;
    color: $btn-new-hover-color;
  }
}

.btn-new-group {
  display: flex;

  > .btn-new {
    + .btn-new {
      border-left: 0;
    }
  }
}