/*CARD BUILDING STYLES*/

.card-building {
  margin-bottom: 24px;
  width: 25%;
  padding: 0 10px;
  position: relative;
}

.plus {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  display: none;
}

.obj {
  background: #fff;
  border-radius: 3px;
  min-height: 410px;
  box-shadow: 0 1px 2px rgba(5, 5, 6, 0.1);

}

.obj-container {
  display: flex;
  flex-wrap: wrap;
}

.card-image {
  width: 100%;
  height: 281px;
  border-radius: 2px 2px 0 0;
  overflow: hidden;
  position: relative;
  margin: 0;
  > div {
    position: relative;
    width: 100%;
    height: 100%;
    &:nth-child(2) {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &:hover .more-info {
    opacity: 1;
  }
  &:hover .icon-eye {
    transform: scale(1.3);
  }
}

.more-info {
  position: absolute;
  opacity: 0;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  justify-content: center;
  align-items: center;
  transition: .3s all;
  background: rgba(0, 0, 0, .5);
  img {
    width: 100%;
  }
}

.icon-eye {
  transition: .6s all;
}

.holder-title-image {
  bottom: -2px;
  padding-top: 20%;
  position: absolute;
  left: 0;
  width: 100%;
  display: block;
  background-image: linear-gradient(rgba(0, 0, 0, 0), #000);
}

.image-title-inner {
  padding: 0 16px 16px;
}

.title-inner,
.distance-to-metro,
.station-metro {
  color: $white;
}

.station-metro {
  font-size: 14px;
  max-width: calc(100% - 84px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  svg {
    margin-bottom: -4px;
  }
}

.title-inner {
  padding-bottom: 5px;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.distance-to-metro {
  padding-left: 2px;
  font-size: 14px;
  align-self: flex-end;

}

.secondary-header {
  display: flex;
  flex-direction: column;
  > div {
    display: flex;
    align-items: center;
    + div {
      margin-top: 5px;
    }
  }
}

.card-description {
  padding: 8px 16px 0;
  position: relative;
}

.logo-builder {
  position: absolute;
  top: 12px;
  right: 16px;
  width: 36px;
}

.param-building {
  overflow: hidden;
  max-height: 95px;
  padding-right: 44px;
  > div {
    padding-bottom: 9px;
  }
}

.price-building {
  font-size: 13px;
  span {
    font-size: 20px;
  }
}

.area-building {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #9e9e9e;
  padding-bottom: 4px;
  font-size: 14px;
}

.name-company-builder {
  font-size: 14px;
  color: #9e9e9e;
}

.link-builder {
  padding: 0 16px 16px 16px;
  a {
    color: $blue;
  }
}

/*Cards-flat*/

.card-flat {
  display: flex;
  padding: 10px;
  border: 5px solid transparent;
  background: linear-gradient(white, white) padding-box,
  repeating-linear-gradient(-45deg, $brand-color 0,$brand-color 12.5%, transparent 0, transparent 25%,
                  $blue 0, $blue 37.5%, transparent 0, transparent 50%) 0 / 6em 6em;
  margin-bottom: 25px;
}

.card-left {
  min-width: 30%;
  flex-basis: 30%;
}

.card-image-inner {
  width: 100%;
  height: 100%;
  position: relative;
  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s all;
    background: rgba(0, 0, 0, .5);
  }
  &:hover {
    a {
      opacity: 1;
    }
  }
  img {
    min-height: 100%;
  }
}

.card-right {
  flex-grow: 1;
  display: flex;
}
.card-right-desc {
  min-width: 65%;
  flex-basis: 65%;
  padding-left: 20px;
  span {
    font-size: 16px;
    font-weight: 700;
    color: #444;
  }
  > div {
    display: flex;
    padding: 5px 0;
    border-bottom: 1px dashed $brand-color;
    justify-content: space-between;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border: none;
    }
    > div {
      padding-left: 10%;
    }
  }
  p {
    margin-bottom: 0;
  }
  a {
    font-weight: 500;
    transition: .2s all;
    &:hover {
      text-decoration: underline;
    }
  }
}
.card-right-price {
  min-width: 35%;
  flex-basis: 35%;
  padding-left: 20px;
}
.card-title {
  font-size: 20px;
  font-weight: 700;
  color: #1f1f1f;
}
.card-phone {
  > div {
    display: flex;
    flex-direction: column;
    a {
      position: relative;
    }
  }
}

.card-right-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price-flat {
  .title-price {
    font-weight: 700;
    color: #444444;
    font-size: 20px;
  }
  > div {
    padding-bottom: 7px;
    &:last-child {
      padding-bottom: 15px;
    }
  }
}

.option-flat {
  > div {
    display: flex;
    a {
      padding: 0 0 10px 10px;
      display: block;
      font-size: 15px;
      font-weight: 500;
      color: #256799;
    }
  }
}
.flat-more-info {
  a {
    display: block;
    background: $blue;
    color: #fff;
    font-size: 22px;
    padding: 8px 20px;
    position: relative;
    width: 100%;
    text-transform: uppercase;
    transition: all.4s ease;
    text-align: center;
    border: 2px solid transparent;
    &:hover {
      border: 2px solid $blue;
      background: transparent;
      color: $blue;
    }
  }
}