/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
        width: 100%;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-prev,
.slick-next{
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.6);
    text-indent: -999999px;
    position: absolute;
    transform: translateY(-50%);
    z-index: 5;
    border-radius: 50%;
    opacity: 1;
    border: 1px solid transparent;
    box-shadow: 0 0 18px 0 rgba(50, 50, 50, 0.55);
    &:hover {
        opacity: 1;
        background: rgba(255, 255, 255, 0.8);
    }
}

.slick-prev {
    top: 50%;
    left: -20px;
    &::before {
        position: absolute;
        content: '';
        width: 12px;
        height: 12px;
        border-bottom: 2px solid #000;
        border-left: 2px solid #000;
        transform: rotate(45deg);
        top: 13px;
        left: 16px;
    }
    &:hover::before {
        border-bottom: 2px solid $brand-color;
        border-left: 2px solid $brand-color;
    }
}

.slick-next {
    top: 50%;
    right: -20px;
    &::before {
        position: absolute;
        content: '';
        width: 12px;
        height: 12px;
        border-bottom: 2px solid #000;
        border-right: 2px solid #000;
        transform: rotate(-45deg);
        top: 13px;
        right: 16px;
    }
    &:hover::before {
        border-bottom: 2px solid $brand-color;
        border-right: 2px solid $brand-color;
    }
}

.bb-new {
    .slick-prev,
    .slick-next {
        width: 50%;
        height: 100%;
        border-radius: inherit;
        background: transparent;
        box-shadow: none;
        transition: .5s all;
        z-index: 2000;
        &::before {
            content: none;
            top: 50%;
            transition: .5s all;
            border-color: white;
        }
        &:hover::before {
            content: '';
        }
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
    }
}
